{# src/Comptes/CptBundle/Ressources/views/Comptes/index.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        {{headContent}}
        <title>{{title}}</title>
    </head>
    <body>
        <h1>{{titleContent}}</h1>
        <div>{{middleContent}}</div>
    </body>
</html>
