{# src/Comptes/CptBundle/Ressources/views/Comptes/index.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <h1>coucou {{titleContent}}</h1>
        <div>Bonjour monsieur, bonjout madame, j'espère que vous vous plaisez ici et bonne visite</div>
    </body>
</html>
